.nav {
  height: 70px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.05);
}

.logo {
  font-size: 22px;
  font-weight: 900;
  color: #0b6bff;
  text-decoration: none;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.nav-link {
  color: #111827;
  text-decoration: none;
  font-weight: 700;
}

.nav-link:hover {
  color: #0b6bff;
}

.nav-btn {
  padding: 10px 14px;
  border-radius: 12px;
  background: #0b6bff;
  color: white;
  text-decoration: none;
  font-weight: 800;
}

.nav-btn:hover {
  background: #005edc;
}

.nav-btn.outline {
  background: white;
  color: #0b6bff;
  border: 2px solid #0b6bff;
}

.nav-btn.outline:hover {
  background: #0b6bff;
  color: white;
}

.logout {
  padding: 10px 14px;
  border-radius: 12px;
  background: #ef4444;
  color: white;
  font-weight: 800;
  border: none;
  cursor: pointer;
}

.logout:hover {
  opacity: 0.9;
}

